<html>
<head>
<title>{% block title %}{% endblock %}</title>
 <head>
		<link type="text/css" href="/css/ui-lightness/jquery-ui-1.8.1.custom.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="/js/util.js"></script>
    <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.bgiframe.js"></script>
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.core.js"></script>-->
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.widget.js"></script>-->
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.mouse.js"></script>-->
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.selectable.js"></script>-->
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.droppable.js"></script>-->
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.resizable.js"></script>-->
<!--	<script type="text/javascript" src="/js/ui/jquery.ui.dialog.js"></script>-->
  </head>
<body>
<h1>AM Series</h1>
<hr/>
<table>
	<tr>
		<td width="200px" valign="top">
		<br/><a href="/search">Search series</a>
		{% if admin %}
		<br/><a href="/sites">Sites</a>
		{% else %}
		<br/><a href="/mySeries">My series</a>
		<br/><a href="/myDL">My downloads</a>
		{% endif %}
		</td>
		<td>{% block content %}{% endblock %}</td>
	</tr>
</table>
<hr/>
<p><a href="{{ url }}">{{ url_linktext }}</a></p>

	<div id="dialog-confirm" title="Delete serie?" style="display:none;">
		<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure?</p>
	</div>

</body>
</html>
