/*demo page css*/
body{ font: 70% "Trebuchet MS", sans-serif; margin: 30px;}
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

/*.ui-button { outline: 0; margin:0; padding: .4em 1em .5em; text-decoration:none;  !important; cursor:pointer; position: relative; text-align: center; }
.ui-dialog .ui-state-highlight, .ui-dialog .ui-state-error { padding: .3em;  }*/

table.series { margin: 1em 0; border-collapse: collapse; width: 100%; }
table.series td, table.series th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

#dialog label, #dialog input { display:block; }
#dialog input.text { margin-bottom:12px; width:95%; padding: .4em; }
#dialog fieldset { margin-top:25px; }

fieldset { padding:0; border:0; }
#toolbar {
	}

#selectable a img {
	border-color:#ccc; }
	
table {
	font-size: 1em;
}

button {
	margin:0px;
	padding:0px;
}

.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
    width:100%;
    height:100%;
}
	
	
/*
table.series {
 	border-collapse:collapse;
}

table.series, table.series td { 	
	border: 1px solid #ccc;
	}
	
table.series thead {
	background-color: #e6EEEE;
}
/*
a.action { 
	color:#777;
	border:1px solid #777;
	background: #555 url(/img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; 
	font-weight: normal; 
	padding:2px;
	text-align:center;
	text-decoration: none;
}

a.action:hover { 
	color:#000;
	border:1px solid #777;
}
*/
/*
#feedback {
	color:#777;
	background: #555 url(/img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; 
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:2px;
}

*/