body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #fff;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

table.series {
 	border-collapse:collapse;
}

table.series, table.series td { 	
	border: 1px solid #ccc;
	}
	
table.series thead {
	background-color: #e6EEEE;
}

a.action { 
	color:#777;
	border:1px solid #CCC;
	background: #555 url(/img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; 
	font-weight: normal; 
	padding:2px;
	text-align:center;
	text-decoration: none;
}

a.action:hover { 
	font-color:#777;
	border:1px solid #777;
}